body{
    background-image: url(WhatsApp\ Image\ 2025-10-20\ at\ 1.14.30\ AM.jpeg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    

}

h1{ 
    background-color: #132440;
    margin: #132440;
    border: none;
    margin: 0;
    text-align: center;
    border-radius: 0 ;
    display: block;
    padding: 15px 0 ;
    width: 100%;
    color:bisque;
}
hr{
    border: 1px solid #132440;
}

p{
    color: #DCDCDC;
    margin-bottom: 0;
}

button:active{
  background-color: #CBCBCB; 
  color: rgb(149, 148, 148);              
  border: none;                     
  border-radius: 3px; 
             
  
}
label{
    color:#DCDCDC; 
    
}
input:focus{
    background-color: #757673;
    border-radius: 3px;
    border: 2px solid black;
    
}

div p{
    color: #DCDCDC;
}

h2{
    color: bisque;
}

#nombre, #nombre2, #horario, #capital, #bandera, #lenguaje{
    color: #BF092F ;
}

img{
    width: 300px;
}